

@media screen and (max-width: 980px) {
    .finder {
        height: 200px;
    }

    .finder-search {
        margin-top: 20px;
    }

    .finder-submit {
        top: 34%;
    }

    .footer-stroke {
        margin: 50px 0 0 0;
    }

    .restoran-main-title h1 {
        margin: 120px 0 0 0;
    }

    .restoran-review {
        margin: 40px 0 0 0;
    }

    .w-47 {
        width: 100%;
    }
}





