body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: "San Francisco", sans-serif;
    color: #323545;
    font-size: 16px;
}

/*Цвета:
   Оранжевый: #EF7A47;
 */

/*Спецификация*/

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #323545;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

/*Стилизация шапки*/

.header {
    padding: 7px 0 7px 0;
}

.menu {
    margin: 0px;
}

.block-registration {
    margin-top: 1px;
}

.profile {
    margin-left: 5px;
    margin-bottom: 2px;
}

.block-registration-entry {
    position: relative;
    margin-right: 10px;
}

.block-registration-entry:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background: #EF7A47;
    top: 2%;
    right: -8px;
}

.menu-link {
    color: #979797;
    font-size: 18px;
    font-style: normal;
}

.menu-link:hover {
    color: #EF7A47;
    text-decoration: none;
}

/*Стилизация блока с поиском и фильтром*/

.finder {
    height: 355px;
    background: url("../img/bakcground.jpg") no-repeat bottom;
    background-size: cover;
    padding: 0 0 30px 0;
}

.finder-group {
    position: relative;
    width: 100%;
}
.finder-search {
    height: 55px;
    width: 100%;
    margin-top: 145px;
    padding: 15px;
    border: 0px;
    font-size: 16px;
    margin-bottom: 35px;
}

.finder-submit {
    width: 25px;
    height: 25px;
    background: url("../img/finder.svg") no-repeat;
    background-size: cover;
    border: 0px;
    position: absolute;
    top: 68%;
    right:3%;
}

.location-title {
    color: #fff;
    font-size: 18px;
    margin: 0 0 0 15px;
}

.filter {
    margin-top: 35px;
    padding: 0px;
}

.filter-item {
    cursor: pointer;
}

.filter-icon {
    width: 38px;
    height: 38px;
}


.filter-icon-title {
    font-size: 16px;
    color: #fff;
    margin: 0 0 0 8px;
}

/*Стилизация блока с ресторанами*/
.restorans {
    padding: 25px 0 5px 0;
}

.restorans-item {
    margin: 0 0 40px 0;
}


.restorans-head-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
}


.restorans-item_image{
    object-fit: cover;
    height: 187px;
    width: 100%;
    border-radius: 9px;
}

.restorans-item h3 {
    font-size: 24px;
    margin-top: 15px;
}

.restorans-type-kitchen p {
    margin: 0 0 3px 7px;
}

.restorans-delivery {
    color: #6F6F6F;
    margin: 7px 0 0 0;
}

.restorans-rating {
    margin: 7px 0 0 0;
}

.restorans-rating p {
    margin: 0 0 0 5px;
}

/* Стилизация футера */

.footer {
    background: #F7F7F7;
    padding: 50px 0 25px 0;
}

.footer-head-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 25px 0;
}

.footer-menu-item {
    margin: 0 0 20px 0;
}

.footer-menu-item a {
    font-size: 18px;
    font-weight: 500;
    color: #323545;
}

.footer-menu-item a:hover {
    color: #EF7A47;
    text-decoration: none;
}

.footer-download-link a:first-child {
    margin: 0 15px 25px 0;
}

.footer-head-description {
    font-size: 18px;
    width: 297px;
    font-weight: 500;
}

.footer-stroke {
    height: 1px;
    width: 100%;
    background: #979797;
    margin: 150px 0 0 0;
}

.footer-name-company {
    font-size: 24px;
    font-weight: 500;
    margin: 25px 0 0 0;
}

/* Адаптив Доп. элементы */

.menu-burger {
    width: 26px;
    height: 26px;
    background: url("../img/menu-burger.svg") no-repeat;
    margin-right: 15px;
}

